/* Slideshow container */

.blog-slider-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: 300px;
    overflow: hidden;
}

.blog-slide {
    width: 100%;
    float: left;
}

.blog-slide:nth-child(2) {
    margin-right: -1000px;
}

.blog-slide:nth-child(3) {
    margin-right: -2000px;
}

.blog-slide.active {
    display: block;
}

.blog-slider-image {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

/* Next & previous buttons */

.prev-arrow,
.next-arrow {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}


/* Position the "next button" to the right */

.next-arrow {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev-arrow:hover,
.next-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.blog-slider-text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* The dots/bullets/indicators */

.blog-slider-dots {
    text-align: center;
}

.blog-slider-dots-item {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.blog-slider-dots-item:hover {
    background-color: #717171;
}

.blog-slider-dots-item.active {
    background-color: #717171;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
